body {
  background-color: #282c34;
  color: whitesmoke;
}

.generic-container {
  background-color: #4b5261;

  width: 50vw;
  max-width: 650px;
  min-width: 350px;
  margin: auto;
  margin-top: 30px;

  border-radius: 20px;
}

.login-title {
  text-align: center;
  padding-top: 15px;
  margin-bottom: -10px;
  font-weight: bolder;
  font-size: 1.8em;
  user-select: none;
}

.login-form {
  margin: 30px;
  padding-bottom: 15px;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}

.main-container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
  user-select: none;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.main-div-button {
  background-color: #6c768b;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  font-weight: bold;

  opacity: 0.8;
}

.logout {
  margin-top: 15px;
  background-color: #724f4f;
}

.main-div-button:hover {
  opacity: 1;
}

.main-div-button:active {
  scale: 0.98;
}

.event-item {
  background-color: #6c768b;
  border-radius: 15px;

  padding-top: 10px;
  width: 100%;
  text-align: center;
}

.event-name {
  font-weight: bold;
  font-size: 1.1em;
}

.event-description {
  font-size: 0.8em;
}

.event-date {
  font-size: 0.7em;
}

.float {
  position: fixed;
  width: 25%;
  display: flex;
  margin-left: 100%;
  margin-bottom: 20px;
  bottom: 10px;
  scale: 1.5;
}

.back-button {
  border: none;
  border-radius: 50%;
  padding: 5px;
  padding-bottom: 0;
  background-color: #ad3c3c;
  color: whitesmoke;
  font-weight: bold;
  

  opacity: 0.8;
}

.back-button:hover {
  opacity: 1;
}

.back-button:active {
  scale: 0.95;
}
